<?php
/**
 * Fired during plugin activation
 *
 * @link       {{plugin-url}}
 * @since      1.0.0
 *
 * @package    {{ucwords-slug}}
 * @subpackage {{ucwords-slug}}/Includes
 */

namespace {{namespace}}\{{lower-slug}}\Includes;

/**
 * Fired during plugin activation.
 *
 * This class defines all code necessary to run during the plugin's activation.
 *
 * @since      1.0.0
 * @package    {{ucwords-slug}}
 * @subpackage {{ucwords-slug}}/Includes
 * @author     {{dev-name}} <{{dev-email}}>
 */
class Activator {

	/**
	 * Short Description. (use period)
	 *
	 * Long Description.
	 *
	 * @since    1.0.0
	 */
	public static function activate() {

	}

}
