<?php
/**
 * Fired during plugin deactivation
 *
 * @link       {{plugin-url}}
 * @since      1.0.0
 *
 * @package    {{ucwords-slug}}
 * @subpackage {{ucwords-slug}}/includes
 */

namespace {{namespace}}\{{lower-slug}}\includes;

/**
 * Fired during plugin deactivation.
 *
 * This class defines all code necessary to run during the plugin's deactivation.
 *
 * @since      1.0.0
 * @package    {{ucwords-slug}}
 * @subpackage {{ucwords-slug}}/includes
 * @author     {{dev-name}} <{{dev-email}}>
 */
class Deactivator {

	/**
	 * Short Description. (use period)
	 *
	 * Long Description.
	 *
	 * @since    1.0.0
	 */
	public static function deactivate() {

	}

}
