<?php
/**
 * Fired during plugin uninstallation
 *
 * @link       {{plugin-url}}
 * @since      1.0.0
 *
 * @package    {{ucwords-slug}}
 * @subpackage {{ucwords-slug}}/Includes
*/

 namespace {{namespace}}\{{ucwords-slug}}\Includes;

/**
 * Fired during plugin uninstallation.
 *
 * This class defines all code necessary to run during the plugin's uninstallation.
 *
 * @since      1.0.0
 * @package    {{ucwords-slug}}
 * @subpackage {{ucwords-slug}}/Includes
 * @author     {{dev-name}} <{{dev-email}}>
 */
class Uninstaller {

	/**
	 * Clean up the plugin data.
	 *
	 * @since    1.0.0
	 */
	public static function uninstall() {

	}

}
