{
	"name": "{{namespace}}/{{slug}}",
	"description": "{{description}}",
	"autoload": {
		"psr-4": {
			"{{namespace}}\\{{lower-slug}}\\Admin\\": "Admin/",
			"{{namespace}}\\{{lower-slug}}\\Front\\": "Front/",
			"{{namespace}}\\{{lower-slug}}\\Includes\\": "Includes/"
		}
	},
	"config": {
        "optimize-autoloader": true
      }
}
