{
	"name": "{{namespace}}/{{slug}}",
	"description": "{{description}}",
	"autoload": {
		"psr-4": {
			"{{namespace}}\\{{lower-slug}}_admin\\": "admin/",
			"{{namespace}}\\{{lower-slug}}_front\\": "front/",
			"{{namespace}}\\{{lower-slug}}_includes\\": "includes/"
		}
	}
}
